<title>Bloomint Email Verification</title>

<div>
    <label for='pwd'>Provide password for new account:</label><br>
    <input type='password' id='pwd' name='pwd'>
    <button onclick="sendPostToServerToRegisterUser()">Register</button> 
    <div id='server_response'>
    </div>
</div>

<script>

async function onRegisterPasswordResponse(response) {
    const reader = response.body.getReader();
    var readStream = await reader.read()
    var responseText = new TextDecoder().decode(readStream.value)
    document.getElementById('server_response').innerHTML = responseText
}

function sendPostToServerToRegisterUser() {
	const endpoint = '/auth/verify_user';
	
	const data = {
	    password: document.getElementById('pwd').value
	};
	
	const options = {
	    method: 'POST',
	    body: JSON.stringify(data),
	    headers: {
	        'Content-Type': 'application/json',
			'Authorization': 'Bearer {{jwt}}'
	    }
	}
	
	fetch(endpoint, options)
	     .then(res => onRegisterPasswordResponse(res));
}
</script>
